<div class="accordion accordion-flush mt-3 mb-3 shadow" id="accordionPanelsStatus">
	<div class="accordion-item">
	  <h2 class="accordion-header">
		<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-collapse-chart-status" aria-expanded="true" aria-controls="panel-collapse-chart-status">
			Summary
		</button>
	  </h2>
	  <div id="panel-collapse-chart-status" class="accordion-collapse collapse show">
		<div class="accordion-body odhin-table">
			<div class="table-responsive">
				<table class="table table-sm table-borderless mb-0">
					<tr>
						<td>
							<table class="table table-sm table-borderless mb-0">
								<tr>
									<th class="odhin-text">Chart</th>
								</tr>
								<tr>
									<td rowspan="5" class="chart value">
										<div class="position-relative">
											<div
												class="position-absolute top-50 start-50 w-100 translate-middle odhin-text ps-2 fs-5"
											>
												{{.TotalTests}}
											</div>
											<canvas
												id="{{.ChartId}}"
												style="
													display: block;
													box-sizing: border-box;
													height: 160px;
													width: 160px;
													margin: 0px auto;
												"
												width="160"
												height="160"
											></canvas>
										</div>
									</td>
								</tr>							
							</table>
						</td>
						<td>
							<table class="table table-sm table-borderless mb-0">
								<tr>
									<th class="odhin-text">Status</th>
									<th class="odhin-text">Tests</th>
									<th class="odhin-text">Percentage</th>
								</tr>
								<tr>
									<td class="chart-status-passed fs-6">Passed</td>
									<td class="text-secondary-emphasis">{{.TestPassedValue}}</td>
									<td class="text-secondary-emphasis fst-italic">{{.TestPassedPercentage}}%</td>
								</tr>
								<tr>
									<td class="chart-status-failed fs-6">Failed</td>
									<td class="text-secondary-emphasis">{{.TestFailedValue}}</td>
									<td class="text-secondary-emphasis fst-italic">{{.TestFailedPercentage}}%</td>
								</tr>
								<tr>
									<td class="chart-status-timedOut fs-6">Timed Out</td>
									<td class="text-secondary-emphasis">{{.TestTimedOutValue}}</td>
									<td class="text-secondary-emphasis fst-italic">
										{{.TestTimedOutPercentage}}%
									</td>
								</tr>
								<tr>
									<td class="chart-status-skipped fs-6">Skipped</td>
									<td class="text-secondary-emphasis">{{.TestSkippedValue}}</td>
									<td class="text-secondary-emphasis fst-italic">{{.TestSkippedPercentage}}%</td>
								</tr>
								<tr>
									<td class="chart-status-interrupted">Interrupted</td>
									<td class="text-secondary-emphasis">{{.TestInterruptedValue}}</td>
									<td class="text-secondary-emphasis fst-italic">
										{{.TestInterruptedPercentage}}%
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</div>
		</div>
	  </div>
	</div>
</div>