<div class="accordion accordion-flush mt-3 mb-5 shadow" id="accordionPanelsTests">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panel-collapse-tests" aria-expanded="true" aria-controls="panel-collapse-tests">
            Overview
        </button>
      </h2>
      <div id="panel-collapse-tests" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <div class="table-responsive">
                <table id="test-list-table2" class="table table-sm ">
                    <thead>
                        <tr>
                            <th>Caso de prueba</th>
                            <th>Resultado esperado</th>
                            <th>Estado</th>
                            <!-- <th>File</th> -->
                            <th>Duración</th>
                            <th>Navegador</th>
                            {{.RetryColumn}}
                            <th>Detalles</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{.TestCases2}}
                    </tbody>
                    <!-- <tfoot>
                        <tr>
                            <th>Parent</th>
                            <th>Title</th>
                            <th>Status</th>
                            <th>File</th>
                            <th>Duration</th>
                            <th>Browser</th>
                            {{.RetryColumn}}
                            <th>Details</th>
                        </tr>
                    </tfoot> -->
                </table>
            </div>
        </div>
      </div>
    </div>
</div>